  @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

  
  /*-----VARIABLES----- */
  :root {
    --primary-bg-color: antiquewhite;
    --secondary-bg-color: #F3F4F6;
    --bg-btn-color: #f5f1f1;
    --btn-color: #9b9898;
    --primary-font-color: #444444;
    --container-padding-inline: 10rem;
    --container-padding-block: 5rem;
  }

  /* #home {
    background-color: grey;
  }

  .left-section {
  background-color: lightpink;
  }

  .lp-image {
    background-color: aquamarine;
  }

  #projects {
   background-color: blueviolet;
  }

  .like-tiles {
  background-color: lightseagreen;
  }

  #about {
    background-color: pink;
  } */

  /* SCROLL BEHAVIOUR */
  ::-webkit-scrollbar {
    background-color: #61677A;
    border-radius: 25px;
    width: 10px;
  }
  
  html {
    overflow-x: hidden;
  }
  body {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
  }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

#container {
  width: 100%;
  margin: 0 auto;
}

/* NAV BAR START */ 
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2.8rem;
  height: 90px;
  font-weight: bold;
  background-color: var(--primary-bg-color);
  position: relative;
  /* background-color: var(--secondary-bg-color); */
}

.header > .navbar {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

 .header .nav-logo {
  height: 1rem;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
}

.navbar-list {
  display: flex;
  gap: 4.5rem;
  list-style: none;
}


.navbar-list > li > a {
  color: var(--primary-font-color);
  text-decoration: none;
}

.mobile-navbar-btn {
  display: none;
  background: transparent;
  cursor: pointer;
}

.mobile-nav-icon {
  height: 2rem;
  width: 2rem;
}

.mobile-nav-icon[name="close-outline"] {
  display: none;
} 

/* NAV BAR END */

/* MAIN - HERO SECTION */
#home {
  display: flex;
  height: calc(100vh - 90px);
  padding-inline: var(--container-padding-block);

}

 .left-section {
  width: 50%;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: var(--primary-font-color);
}

.left-section > div {
  margin: 10px 0;
}

.desc > p {
  font-size: 1rem;
}

.left-section > .btn > button {
  background-color: var(--bg-btn-color);
  font-weight: bold;
  border: none;
  border-radius: 7px;
  padding: 10px 17px;
  box-shadow:  2px 3px 7px 0 rgba(0, 0, 0, 0.1);
}

/* .left-section > .btn {
  margin-top: 10px;
} */

.left-section > div > button > a {
  color: var(--btn-color);
  text-decoration: none;
}

.right-section {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.lp-img {
  width: 70%;
}

/* SECOND SECTION */
#projects {
  padding-block: var(--container-padding-block);
  padding-inline: var(--container-padding-inline);
  /* background-color: var(--primary-bg-color); */
  background-color: var(--secondary-bg-color);
}

#project-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  gap: 2rem;
  margin: 40px 0;
}

#project-cards > div {
  border-radius: 10px;
  height: 150px;
  min-width: 200px;
  box-shadow:  2px 4px 8px 0 rgba(0, 0, 0, 0.2);
}

#heading {
  font-weight: bold;
  font-size: 1.5rem;
}

#sub-heading {
  font-weight: bold;
}

/* ABOUT SECTION */

#about {
  padding-block: var(--container-padding-block);
  padding-inline: var(--container-padding-inline);
}


#about > p {
  padding: 10px 0;
}


.skills {
  display: flex;
  /* justify-content: center; */
  align-items: flex-start;
  flex-wrap: wrap;
}

.skills > div, .interests {
  background-color: var(--secondary-bg-color);
  border-radius: 5%;
  width: 180px;
  min-width: 180px;
  margin: 15px 10px;
  padding: 1rem 1rem;
}

.skills > div:nth-child(1) {
  height: 110px;
}

.skills > div:nth-child(2) {
  height: 100px;
}

.skills > div:nth-child(3) {
  height: 90px;
}

.skills > div > p {
  font-size: 0.85rem;
  color: black;
}

.interests-container {
  padding: 20px 0;
}

.interests {
  display: flex;
}

.interests > .editing {
  height: 62px;
}

.interests > p {
  font-size: 0.85rem;
}

/* EDUCATIONAL BACKGROUND */
#educational-bg {
  background-color: var(--secondary-bg-color);
  /* background-color: var(--primary-bg-color); */
  padding-inline: var(--container-padding-inline);
  padding-block: var(--container-padding-block);
}

#education-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

#experience > h4 {
  padding: 10px 0;
}

#education > h4 {
  padding: 10px 0;
}

#education, #experience{
  background-color: white;
  border-radius: 5%;
  width: 400px;
  min-width: 300px;
  margin: 15px 20px;
  padding: 1.5rem 2rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  box-shadow:  2px 4px 8px 0 rgba(0, 0, 0, 0.2);
}



/* FOOTER */
#contact {
  background-color: var(--primary-font-color);
  /* background-color: #28292A; */
  color: white;
  position: relative;
  padding-block: 2.5rem;
}

#contact > p {
  text-align: center;
  margin: 5px 0;
}

#socials {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

#socials > i > a {
  cursor: pointer;
}



#socials > div {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow:  2px 4px 8px 0 rgba(0, 0, 0, 0.2);
}

#socials > div > a {
  filter: invert();
}

/* MEDIA QUERIES */

@media screen and (max-width: 915px) {
  .mobile-navbar-btn {
    display: block;
    z-index: 1000;
  }

  .header > .nav-logo {
    font-size: 1.2rem;
  }

  .navbar {
    /* display: none; */
    width: 100%;
    height: 100vh;
    background-color: #E7F5FF;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    transform: translateX(100%);
    transition: all 0.5s linear;
  }

  .navbar {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }

  .navbar-list {
    /* display: flex; */
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;

    /* opacity: 0;
    visibility: hidden;
    pointer-events: none; */
  }

  .navbar-list > li > a {
    padding: 1.5rem 0;
  }

  .active .mobile-navbar-btn > .mobile-nav-icon[name="menu-outline"] {
    display: none;
  }
  
  .active .navbar {
    transform: translateX(0);
    opacity: 1;
    visibility: visible;
  }
  
  .active .mobile-navbar-btn > .mobile-nav-icon[name="close-outline"] {
    display: block;
  }

  .right-section {
    display: none;
  }

  .left-section {
    width: 100%;
    font-size: 2rem;
  }

  .left-section > p > .name {
    display: block;
  }

  .desc > p{
    font-size: 0.9rem;
  }

  #about, #education, #experience, #skills, #interests-container, #education-container > p {
    font-size: 0.9rem;
  }

  .left-section > .btn > button {
   font-size: 0.9rem;
  }

  #home, #projects, #about, #educational-bg {
    padding-inline: 2rem;
  }
  

}
